
  .page-heading {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 40px;
  }
  .page-description {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #0c0c0c;
    font-family: Arial, sans-serif;
    font-style: normal;
  }
  
  .page-description strong {
    color: #007bff; /* Blue color for strong text */
  }
  
  .page-description em {
    font-style: italic;
    font-family: Arial, sans-serif;
  }

  